.marquee-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  .marquee {
    display: inline-block;
    animation: scroll 8s linear infinite;
    white-space: nowrap;
    position: absolute;
  }
   
  .marquee.reverse {
    animation-direction: reverse;
  }
   
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
    200% {
      transform: translateX(-200%);
    }
  }
   
  .marquee img {
    width: 10%;
    height: 10%;
  }